<div *ngIf="loading$ | async" class="p-4">
  <app-loader></app-loader>
</div>
<div *ngIf="error$ | async" class="p-2">
  <app-alert [message]="'Chärtli konnte nicht geladen werden.'"></app-alert>
</div>
<ng-container *ngIf="!((loading$ | async) || (error$ | async))">
  <div *ngIf="card$ | async as card">
    <app-title [subtitle]="card.team">{{ card.name }}</app-title>
    <app-panel>
      <div
        class="w-full aspect-square flex items-center justify-center relative"
      >
        <div [hidden]="!initializedQrCode">
          <app-qr-generator
            [qrData]="getCode(card)"
            [width]="imageWidth"
          ></app-qr-generator>
        </div>
        <img
          #image
          [src]="card.image_url"
          alt="{{ card.name }}"
          class="w-full h-full object-cover absolute transition-all ease-out duration-200"
          [ngClass]="{
            'w-full h-full': !showQrCode,
            'w-20 h-20 border-2 border-light-pink': showQrCode
          }"
          [class.grayscale]="!card.quantity"
        />
        <div
          *ngIf="!showQrCode && card.quantity > 1"
          class="absolute bg-dark-pink top-0 right-0 text-2xl font-medium px-2"
        >
          {{ card.quantity }}
        </div>
      </div>
      <div class="pt-4 space-y-2" *ngIf="card.quantity > 0; else askMe">
        <div>
          <app-field
            [label]="'Als Kind wollte ich immer ... werden'"
            [value]="card.job"
          ></app-field>
        </div>
        <div>
          <app-field
            [label]="'Meine Superpower'"
            [value]="card.superpower"
          ></app-field>
        </div>
        <div>
          <app-field
            [label]="'Gefällt mir an ipt besonders gut'"
            [value]="card.highlight"
          ></app-field>
        </div>
        <div>
          <app-field
            [label]="'Ohne ... könnte ich niemals leben'"
            [value]="card.must_have"
          ></app-field>
        </div>
      </div>
    </app-panel>
    <button
      *ngIf="card.quantity > 1"
      (click)="toggleQrCode()"
      class="fixed bottom-14 right-0 m-4 w-14 h-14 bg-dark-pink rounded-full align-middle no-tap-highlight active:bg-light-pink shadow"
    >
      <span class="material-symbols-outlined align-middle">{{
        showQrCode ? 'person' : 'qr_code'
      }}</span>
    </button>
  </div>
</ng-container>

<ng-template #askMe>
  <div class="pt-4 space-y-2">
    <app-field
      [label]="'Meine Infos'"
      [value]="'Sammle meine Karte - oder frag mich in Person'"
    ></app-field>
  </div>
</ng-template>
