<div *ngIf="loading$ | async" class="p-4">
  <app-loader></app-loader>
</div>
<div *ngIf="error$ | async" class="p-2">
  <app-alert [message]="'Chärtli konnte nicht geladen werden.'"></app-alert>
</div>
<ng-container *ngIf="!((loading$ | async) || (error$ | async))">
  <div *ngIf="card$ | async as card">
    <app-title [subtitle]="card.job">{{ card.name }}</app-title>
    <app-panel>
      <div
        class="w-full aspect-square flex items-center justify-center relative"
      >
        <div [hidden]="!initializedQrCode">
          <app-qr-generator
            [qrData]="getCode(card)"
            [width]="imageWidth"
          ></app-qr-generator>
        </div>
        <img
          #image
          [src]="card.image_url"
          alt="{{ card.name }}"
          class="w-full h-full object-cover absolute transition-all ease-out duration-200"
          [ngClass]="{
            'w-full h-full': !showQrCode,
            'w-20 h-20 border-2 border-light-pink': showQrCode
          }"
          [class.grayscale]="!card.quantity"
          onerror="this.src='assets/icon.png'"
        />
        <div
          *ngIf="!showQrCode && card.quantity > 1"
          class="absolute bg-dark-pink top-0 right-0 text-2xl font-medium px-2"
        >
          {{ card.quantity }}
        </div>
      </div>
      <div class="pt-4 space-y-2" *ngIf="card.quantity > 0; else askMe">
        <div *ngIf="card.start_at_ipt">
          <app-field
            [label]="'Ich bin bei der ipt seit'"
            [value]="card.start_at_ipt | date: 'dd. LLLL yyyy'"
            [symbol]="'event'"
          ></app-field>
        </div>
        <div>
          <app-field
            [label]="'Da würde ich am liebsten mal hinreisen'"
            [value]="card.wish_destination"
            [symbol]="'travel_explore'"
          ></app-field>
        </div>
        <div>
          <app-field
            [label]="'Für einen Tag tauschen würde ich mit'"
            [value]="card.wish_person"
            [symbol]="'supervised_user_circle'"
          ></app-field>
        </div>
        <div>
          <app-field
            [label]="'Das wollte ich schon immer mal erlernen'"
            [value]="card.wish_skill"
            [symbol]="'local_library'"
          ></app-field>
        </div>
        <div>
          <app-field
            [label]="'Der beste erhaltene Ratschlag'"
            [value]="card.best_advice"
            [symbol]="'lightbulb'"
          ></app-field>
        </div>
      </div>
    </app-panel>
    <div
      *ngIf="card.last_received"
      class="px-2 text-sm text-light-grey opacity-40"
    >
      Erhalten am {{ card.last_received | date: 'dd. LLLL yyyy, HH:mm' }} Uhr
    </div>
    <button
      *ngIf="card.quantity > 1"
      (click)="toggleQrCode()"
      class="fixed bottom-14 right-0 m-4 w-14 h-14 bg-dark-pink rounded-full align-middle no-tap-highlight active:bg-light-pink shadow"
    >
      <span class="material-symbols-outlined align-middle">{{
        showQrCode ? 'person' : 'qr_code'
      }}</span>
    </button>
  </div>
</ng-container>

<ng-template #askMe>
  <div class="pt-4 space-y-2">
    <app-field
      [label]="'Meine Infos'"
      [value]="'Sammle meine Karte - oder frag mich in Person'"
    ></app-field>
  </div>
</ng-template>
