<app-title>Dashboard</app-title>
<div class="grid grid-cols-2">
  <app-panel>
    <div class="text-light-pink">Chärtli</div>
    <div class="text-4xl">
      {{ (this.dashboardData$ | async)?.myUniqueCardsCount }} /
      {{ (this.dashboardData$ | async)?.allCardsCount }}
    </div>
  </app-panel>
  <app-panel>
    <div class="text-light-pink">Rang</div>
    <div class="text-4xl">{{ this.myRank }}</div>
  </app-panel>
</div>
<app-panel>
  <div class="text-light-pink">Top 5</div>
  <ol class="list-decimal list-inside">
    <li
      *ngFor="
        let ranking of (this.dashboardData$ | async)?.rankingList | slice: 0 : 5
      "
    >
      {{ ranking.displayName }}
    </li>
  </ol>
</app-panel>
