<header
  class="sticky top-0 flex justify-between items-center h-12 px-4 py-2 bg-blue-secondary"
>
  <button [routerLink]="['']" class="text-white text-xl font-medium">
    G Collection
  </button>
  <div class="flex items-center space-x-2">
    <button
      [routerLink]="['profile']"
      class="material-symbols-outlined text-white"
    >
      account_circle
    </button>
    <button
      (click)="logout.emit()"
      class="material-symbols-outlined text-white"
    >
      logout
    </button>
  </div>
</header>
