<header
  class="sticky top-0 h-12 pl-2 flex justify-between items-center bg-dark-gray text-xl font-medium text-light-gray z-10"
>
  <span [routerLink]="'dashboard'">Genius Collection 2.0</span>
  <div class="h-full pr-2">
    <button
      *ngIf="isAdmin$ | async"
      [routerLink]="'admin'"
      routerLinkActive="text-light-blue filled-symbol"
      class="material-symbols-outlined h-full px-2"
    >
      admin_panel_settings
    </button>
    <button
      [routerLink]="'profile'"
      routerLinkActive="text-light-blue filled-symbol"
      class="material-symbols-outlined h-full px-2"
    >
      account_circle
    </button>
  </div>
</header>
