<app-title>Home</app-title>
<app-panel>
  <div *ngIf="joke$ | async as joke; else loader" class="space-y-2">
    <div><app-field [label]="'Type'" [value]="joke.type"></app-field></div>
    <div><app-field [label]="'Setup'" [value]="joke.setup"></app-field></div>
    <div>
      <app-field [label]="'Punchline'" [value]="joke.punchline"></app-field>
    </div>
    <div><app-field [label]="'ID'" [value]="joke.id"></app-field></div>
  </div>
  <ng-template #loader><app-loader></app-loader></ng-template>
</app-panel>
