<h1 class="text-blue-secondary m-2 text-2xl font-mono">Home</h1>
<div class="bg-black-tertiary m-2 p-2">
  <div *ngIf="joke$ | async as joke">
    <div class="mb-2">
      <div class="text-light-pink text-sm uppercase">Type</div>
      {{ joke.type }}
    </div>
    <div class="mb-2">
      <div class="text-light-pink text-sm uppercase">Setup</div>
      {{ joke.setup }}
    </div>
    <div class="mb-2">
      <div class="text-light-pink text-sm uppercase">Punchline</div>
      {{ joke.punchline }}
    </div>
    <div class="mb-2">
      <div class="text-light-pink text-sm uppercase">ID</div>
      {{ joke.id }}
    </div>
  </div>
</div>
