// Angular Material

// Overlay
.cdk-overlay-container .mdc-menu-surface {
  border-radius: 0;
}

// Form field
.mat-mdc-form-field {
  .mdc-text-field {
    background: none !important;
    border-radius: 0;
  }

  .mat-mdc-form-field-focus-overlay {
    background: none;
  }
}

.no-subscript {
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

// Menu, paginator
.mat-mdc-menu-panel,
.mat-mdc-button-persistent-ripple,
.mat-ripple,
// Paginator
.mdc-notched-outline__leading,
.mdc-notched-outline__trailing,
// Snackbar
.mdc-snackbar__surface {
  border-radius: 0 !important;
}
