// Angular Material

// Overlay
.cdk-overlay-container .mdc-menu-surface {
  border-radius: 0;
}

// Form field
.mat-mdc-form-field {
  .mdc-text-field {
    background: none !important;
    border-radius: 0;
  }

  .mat-mdc-form-field-focus-overlay {
    background: none;
  }
}

.no-subscript {
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

// Menu, paginator
.mat-mdc-menu-panel,
.mat-mdc-button-persistent-ripple,
.mat-ripple,
// Paginator
.mdc-notched-outline__leading,
.mdc-notched-outline__trailing,
// Snackbar
.mdc-snackbar__surface,
// Dialog
.mat-mdc-dialog-surface.mdc-dialog__surface {
  border-radius: 0 !important;
}

// Dialog
.mat-mdc-dialog-content {
  max-height: 100vh !important;
}

.mat-mdc-dialog-container .mat-mdc-dialog-content {
  padding: 16px !important;
}

// Button toggle
.mat-button-toggle-appearance-standard {
  background-color: #1e1e1e !important;

  &.mat-button-toggle-checked {
    background-color: #0093d9 !important;
  }
}
