// Angular Material

// Overlay
.cdk-overlay-container .mdc-menu-surface {
  border-radius: 0;
}

// Select
.g-collection-select.mat-mdc-form-field {
  .mdc-text-field {
    background: none !important;
    border-radius: 0;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .mat-mdc-form-field-focus-overlay {
    background: none;
  }
}

// Paginator
.mdc-notched-outline__leading,
.mdc-notched-outline__trailing,
// Snackbar
.mdc-snackbar__surface {
  border-radius: 0 !important;
}
