<input
  style="display: none"
  type="file"
  id="chooseImage"
  accept="image"
  capture
  height="100%"
  #chooseImage
  (change)="uploadPicture($event.target)"
/>

<div
  class="w-full aspect-square flex items-center justify-center relative mt-2 mb-2"
>
  <img
    #image
    [src]="(picture$ | async) || (userImage$ | async)"
    alt="test"
    class="w-full h-full object-cover absolute"
    onerror="this.src='assets/icon.png'"
  />

  <button
    class="absolute right-0 bottom-0 m-4 w-14 h-14 bg-dark-pink rounded-full no-tap-highlight active:bg-light-pink shadow z-20"
    (click)="chooseImage.click()"
  >
    <span class="material-symbols-outlined align-middle text-white">edit</span>
  </button>

  <div
    *ngIf="pictureLoading$ | async"
    class="flex w-full h-full items-center justify-center bg-black bg-opacity-70 z-30"
  >
    <app-loader></app-loader>
  </div>

  <div
    *ngIf="pictureError$ | async"
    class="flex w-full h-full items-center justify-center bg-black bg-opacity-70 z-10"
  >
    <app-alert [message]="(pictureError$ | async)!"></app-alert>
  </div>
</div>

<form class="flex flex-col" [formGroup]="userForm" (ngSubmit)="updateUser()">
  <mat-form-field>
    <mat-label>Mein Kürzel</mat-label>
    <input matInput formControlName="acronymInput" maxlength="3" />
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Ich bin bei der ipt seit</mat-label>
    <input matInput type="date" formControlName="startDateInput" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Ich arbeit als</mat-label>
    <input matInput formControlName="jobInput" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Da würde ich am liebsten mal hinreisen</mat-label>
    <input matInput formControlName="wishDestinationInput" />
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Für einen Tag tauschen würde ich mit</mat-label>
    <input matInput formControlName="wishPersonInput" />
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Das wollte ich schon immer mal erlernen</mat-label>
    <input matInput formControlName="wishSkillInput" />
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Der beste Ratschlag</mat-label>
    <input matInput formControlName="bestAdviceInput" />
  </mat-form-field>

  <div class="flex justify-center">
    <app-button
      (click)="updateUser()"
      text="Update"
      symbol="save"
      color="pink"
    ></app-button>
  </div>
</form>
