<button
  class="flex items-center px-2 py-1 space-x-2 border-2 no-tap-highlight"
  [disabled]="disabled"
  [ngClass]="{
    'border-light-blue text-light-blue': outlined && color === 'blue',
    'border-dark-blue bg-dark-blue': !outlined && color === 'blue',
    'border-light-green text-light-green': outlined && color === 'green',
    'border-dark-green bg-dark-green': !outlined && color === 'green',
    'border-light-pink text-light-pink': outlined && color === 'pink',
    'border-dark-pink bg-dark-pink': !outlined && color === 'pink',
    'border-light-red text-light-red': outlined && color === 'red',
    'border-dark-red bg-dark-red': !outlined && color === 'red',
    'border-light-gray text-light-gray': outlined && color === 'gray',
    'border-transparent bg-light-gray bg-opacity-30':
      !outlined && color === 'gray',
    'w-full': fullWidth,
    'active:brightness-125': !disabled,
    'opacity-60': transparent
  }"
>
  <span *ngIf="symbol" class="material-symbols-outlined">{{ symbol }}</span>
  <span *ngIf="text" class="w-full" [ngClass]="{ 'text-center': centerText }">
    {{ text }}
  </span>
  <app-loader *ngIf="loading" [small]="true"></app-loader>
</button>
