<button
  class="flex items-center px-2 py-1 space-x-2 border-2 no-tap-highlight"
  [ngClass]="{
    'border-light-blue text-light-blue': outlined && color === 'blue',
    'border-dark-blue bg-dark-blue active:bg-light-blue':
      !outlined && color === 'blue',
    'border-light-pink text-light-pink': outlined && color === 'pink',
    'border-dark-pink bg-dark-pink active:bg-light-pink':
      !outlined && color === 'pink'
  }"
>
  <mat-icon *ngIf="symbol">{{ symbol }}</mat-icon>
  <span *ngIf="text">{{ text }}</span>
</button>
