<app-title>Quiz</app-title>
<p>
  <mat-button-toggle-group
    [formControl]="personInQuestion"
    class="m-2 h-10 flex items-center !rounded-none"
  >
    <mat-button-toggle [value]="true">Person in Frage</mat-button-toggle>
    <mat-button-toggle [value]="false">Person in Antwort</mat-button-toggle>
  </mat-button-toggle-group>
</p>
<div class="grid grid-cols-3 gap-2 m-2 m">
  <button
    *ngFor="let quiz of quizzes; let last = last"
    class="bg-dark-gray flex flex-col items-center p-2 active:bg-white active:bg-opacity-30"
    [class.col-span-3]="last"
    (click)="selectQuiz(quiz)"
  >
    <div class="text-light-pink text-sm">{{ quiz.text }}</div>
    <span class="material-symbols-outlined fine-symbol !text-7xl">{{
      quiz.symbol
    }}</span>
  </button>
</div>
