<div class="mb-8">
  <app-title>Quiz</app-title>
</div>

<div class="flex flex-col items-center">
  <div class="flex flex-col">
    <app-panel *ngIf="loadingQuestionError$ | async; else questionContainer">
      <app-alert [message]="(loadingQuestionError$ | async)!"></app-alert>
    </app-panel>

    <ng-template #questionContainer>
      <app-quiz-question
        [answerId]="currentAnswerId$ | async"
        [loadingQuestion]="(loadingQuestion$ | async) === true"
        [loadingAnswer]="(loadingAnswer$ | async) === true"
        [question]="currentQuestion$ | async"
        (selectAnswer)="onSelectAnswer($event)"
      ></app-quiz-question>
    </ng-template>
  </div>

  <app-button
    class="absolute bottom-0 mb-24"
    color="pink"
    symbol="next_plan"
    text="Neue Frage"
    (click)="onGetNewQuestion()"
  ></app-button>
</div>
