<app-title>QR Scanner</app-title>
<div class="mt-2" id="qr-scanner"></div>
<app-panel *ngIf="error">
  <div class="space-y-2">
    <div class="text-light-pink">Tausch fehlgeschlagen</div>
    <div>{{ error }}</div>
    <div>
      <pre>{{ code | json }}</pre>
    </div>
    <div class="flex">
      <app-button
        (click)="resumeScanning()"
        [text]="'Scan again'"
        [symbol]="'qr_code_scanner'"
      ></app-button>
    </div>
  </div>
</app-panel>
<app-panel *ngIf="bypassEnabled">
  <input
    #bypassCodeInput
    class="text-black w-full"
    placeholder="Code JSON"
    name="debug"
    (keydown.enter)="bypassCodeValueChanged(bypassCodeInput.value)"
  />
</app-panel>
