<app-title>QR Scanner</app-title>
<div *ngIf="loading$ | async" class="p-4">
  <app-loader></app-loader>
</div>
<div class="mt-2" id="qr-scanner"></div>
<app-panel *ngIf="error$ | async as error">
  <app-alert [message]="error"></app-alert>
  <div *ngIf="code$ | async as code">
    <pre>{{ code | json }}</pre>
  </div>
  <div class="flex mt-4">
    <app-button
      (click)="resumeScanning()"
      [text]="'Scan again'"
      [symbol]="'qr_code_scanner'"
    ></app-button>
  </div>
</app-panel>
<app-panel *ngIf="bypassEnabled && !((loading$ | async) || (error$ | async))">
  <input
    #bypassCodeInput
    class="text-black w-full"
    placeholder="Code JSON"
    name="debug"
    (keydown.enter)="bypassCodeValueChanged(bypassCodeInput.value)"
  />
</app-panel>
