<app-title>QR Scanner</app-title>
<div class="mt-2" id="qr-scanner"></div>
<ng-container *ngIf="code">
  <app-panel>
    <pre>{{ code | json }}</pre>
  </app-panel>
  <app-button
    (click)="resumeScanning()"
    [text]="'Scan again'"
    [symbol]="'qr_code_scanner'"
    *ngIf="!bypassEnabled"
  ></app-button>
</ng-container>
<input
  *ngIf="bypassEnabled"
  class="text-black"
  type="text"
  placeholder="Code JSON"
  name="debug"
  [(ngModel)]="bypassCodeValue"
  (keydown.enter)="bypassCodeValueChanged()"
/>
