<app-title>Profil</app-title>
<app-panel>
  <ng-container *ngIf="loading$ | async; else content">
    <app-loader></app-loader>
  </ng-container>
  <ng-template #content>
    <div *ngIf="profile$ | async as profile" class="space-y-2">
      <div>
        <app-field [label]="'Name'" [value]="profile.displayName"></app-field>
      </div>
      <div>
        <app-field
          [label]="'E-Mail'"
          [value]="profile.userPrincipalName"
        ></app-field>
      </div>
      <div><app-field [label]="'ID'" [value]="profile.id"></app-field></div>
    </div>
  </ng-template>
</app-panel>
<app-button
  (click)="logout()"
  [text]="'Logout'"
  [symbol]="'logout'"
  [color]="'pink'"
></app-button>
