<app-title>Profil</app-title>
<app-panel>
  <div *ngIf="profile$ | async as profile; else loader" class="space-y-2">
    <div>
      <div class="text-light-pink text-sm">Name</div>
      {{ profile.givenName }} {{ profile.surname }}
    </div>
    <div>
      <div class="text-light-pink text-sm">E-Mail</div>
      {{ profile.userPrincipalName }}
    </div>
    <div>
      <div class="text-light-pink text-sm">ID</div>
      {{ profile.id }}
    </div>
  </div>
  <ng-template #loader><app-loader></app-loader></ng-template>
</app-panel>
<app-button
  (click)="logout()"
  [text]="'Logout'"
  [symbol]="'logout'"
  [color]="'pink'"
></app-button>
