<h1 class="text-blue-secondary m-2 text-2xl font-mono">Profil</h1>
<div
  *ngIf="profile$ | async as profile"
  class="bg-black-tertiary m-2 p-2 space-y-2"
>
  <div>
    <div class="text-light-pink text-sm">Name</div>
    {{ profile.givenName }} {{ profile.surname }}
  </div>
  <div>
    <div class="text-light-pink text-sm">E-Mail</div>
    {{ profile.userPrincipalName }}
  </div>
  <div>
    <div class="text-light-pink text-sm">ID</div>
    {{ profile.id }}
  </div>
</div>
<button
  (click)="logout()"
  class="flex items-center m-2 px-2 py-1 space-x-2 bg-dark-pink text-white"
>
  <span class="material-symbols-outlined">logout</span>
  <span>Logout</span>
</button>
