<div class="flex flex-col flex-auto items-center">
  <ng-container *ngIf="loading; else questionContainer">
    <app-loader></app-loader>
  </ng-container>

  <ng-template #questionContainer>
    <ng-container *ngIf="question; else noQuestion">
      <div class="flex flex-col items-center">
        <div class="mb-4">
          <ng-container [ngSwitch]="question.type">
            <ng-container *ngSwitchCase="'IMAGE'">
              <img
                #image
                *ngIf="imageQuestion?.image_url; else noImage"
                [src]="imageQuestion?.image_url"
                alt="questionImage"
                class="max-h-48 w-fit object-cover transition-all ease-out duration-200"
                onerror="this.src='assets/icon.png'"
              />
            </ng-container>

            <ng-template #noImage>
              Bild ist nicht vorhanden oder konnte nicht geladen werden
            </ng-template>
          </ng-container>
        </div>

        <div class="mb-4">{{ question.question }}</div>

        <ng-container *ngFor="let answer of question.answers; let last = last">
          <app-button
            class="w-full"
            [class.mb-2]="!last"
            [centerText]="true"
            [fullWidth]="true"
            [text]="answer.answer"
            (click)="onSelectAnswer(answer.id)"
          ></app-button>
        </ng-container>
      </div>
    </ng-container>

    <ng-template #noQuestion> Hol' dir eine Frage! </ng-template>
  </ng-template>
</div>
