<div class="flex flex-col flex-auto items-center">
  <ng-container *ngIf="loadingQuestion; else questionContainer">
    <app-loader></app-loader>
  </ng-container>

  <ng-template #questionContainer>
    <ng-container *ngIf="question; else noQuestion">
      <div class="flex flex-col items-center">
        <img
          #image
          *ngIf="question.question_type === quizType.IMAGE"
          [src]="question.question_value"
          alt="questionImage"
          class="max-h-48 w-fit object-cover transition-all ease-out duration-200 mb-4"
          onerror="this.src='assets/icon.png'"
        />

        <div class="mb-4">{{ question.question_string }}</div>

        <!-- For now only considers text answers; can later be distinguished by question.answerType -->
        <ng-container
          *ngFor="
            let answerOption of question.answer_possible_values;
            let last = last
          "
        >
          <app-button
            class="w-full"
            [class.mb-2]="!last"
            [centerText]="true"
            [color]="
              answer?.correct_answer === answerOption
                ? 'green'
                : answer?.correct_answer !== answerOption &&
                  answer?.given_answer === answerOption
                ? 'red'
                : 'blue'
            "
            [disabled]="loadingAnswer || !!answer"
            [outlined]="loadingAnswer || !!answer"
            [fullWidth]="true"
            [text]="answerOption"
            (click)="onSelectAnswer(question.question_id, answerOption)"
          ></app-button>
        </ng-container>

        <ng-container *ngIf="loadingAnswer; else answerValidation">
          <app-loader></app-loader>
        </ng-container>

        <ng-template #answerValidation>
          <div
            *ngIf="answer !== null"
            class="mt-4"
            [ngClass]="
              answer.is_correct ? 'text-light-green' : 'text-light-red'
            "
          >
            {{ answer.is_correct ? 'Das ist korrekt!' : 'Leider falsch' }}
          </div>
        </ng-template>
      </div>
    </ng-container>

    <ng-template #noQuestion> Hol' dir eine Frage! </ng-template>
  </ng-template>
</div>
