<form [formGroup]="userCardForm" (ngSubmit)="onSubmit()">
  <input
    style="display: none"
    type="file"
    id="chooseImage"
    accept="image"
    capture
    height="100%"
    #chooseImage
    (change)="uploadPicture($event.target)"
  />

  <div class="w-full aspect-square flex items-center justify-center relative">
    <!--<div [hidden]="!initializedQrCode">
      <app-qr-generator
        [qrData]="getCode(card)"
        [width]="imageWidth"
      ></app-qr-generator>
    </div>-->
    <!-- [ngClass]="{
        'w-full h-full': !showQrCode,
        'w-20 h-20 border-2 border-light-pink': showQrCode
      }"
      [class.grayscale]="!card.quantity"
    alt="{{ card.name }}"-->
    <img
      #image
      src="https://picsum.photos/200/300"
      alt="test"
      class="w-full h-full object-cover absolute transition-all ease-out duration-200"
      onerror="this.src='assets/icon.png'"
    />

    <button
      class="absolute right-0 bottom-0 m-4 w-14 h-14 bg-dark-pink rounded-full no-tap-highlight active:bg-light-pink shadow"
      (click)="chooseImage.click()"
    >
      <span class="material-symbols-outlined align-middle">edit</span>
    </button>
    <!--<div
      *ngIf="!showQrCode && card.quantity > 1"
      class="absolute bg-dark-pink top-0 right-0 text-2xl font-medium px-2"
    >
      {{ card.quantity }}
    </div>-->
  </div>

  <mat-form-field class="w-full">
    <input
      matInput
      type="date"
      placeholder="Date"
      formControlName="dateInput"
    />
  </mat-form-field>
  <mat-form-field class="w-full">
    <input
      matInput
      type="text"
      placeholder="🤷‍♀️ 🤷‍♂️"
      formControlName="textInput1"
    />
  </mat-form-field>
  <mat-form-field class="w-full">
    <input
      matInput
      type="text"
      placeholder="🤷‍♀️ 🤷‍♂️"
      formControlName="textInput2"
    />
  </mat-form-field>
  <mat-form-field class="w-full">
    <input
      matInput
      type="text"
      placeholder="🤷‍♀️ 🤷‍♂️"
      formControlName="textInput3"
    />
  </mat-form-field>
  <button type="submit">Submit</button>
</form>
