<form class="flex flex-col p-10" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Mein Kürzel" formControlName="acronymInput" />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="date"
      placeholder="Ich bin bei der ipt seit"
      formControlName="startDateInput"
    />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Ich arbeit als" formControlName="jobInput" />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Da würde ich am liebsten mal hinreisen"
      formControlName="wishDestinationInput"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Für einen Tag tauschen würde ich mit"
      formControlName="wishPersonInput"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Das wollte ich schon immer mal erlernen"
      formControlName="wishSkillInput"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Der beste Ratschlag"
      formControlName="bestAdviceInput"
    />
  </mat-form-field>
  <button type="submit" (click)="updateUser()">Update</button>
</form>
