<app-title>Chärtli</app-title>
<app-panel>
  <app-loader *ngIf="loading$ | async"></app-loader>
  <app-alert
    *ngIf="error$ | async"
    [message]="'Chärtli konnten nicht geladen werden.'"
  ></app-alert>
  <ng-container *ngIf="!((loading$ | async) || (error$ | async))">
    <div *ngIf="cards$ | async as cards">
      <div class="grid grid-cols-3 gap-4" *ngFor="let card of cards">
        <app-card-thumbnail
          [card]="card"
          [routerLink]="'' + card.id"
        ></app-card-thumbnail>
      </div>
    </div>
  </ng-container>
</app-panel>
