<div class="flex justify-between items-center">
  <app-title>Chärtli</app-title>
  <mat-slide-toggle
    class="pr-2 pt-2"
    [ngModel]="showAll$ | async"
    (ngModelChange)="onShowAllChange($event)"
    >Alle
  </mat-slide-toggle>
</div>
<app-panel>
  <app-loader *ngIf="loading$ | async"></app-loader>
  <app-alert
    *ngIf="error$ | async"
    [message]="'Chärtli konnten nicht geladen werden.'"
  ></app-alert>
  <ng-container *ngIf="!((loading$ | async) || (error$ | async))">
    <mat-form-field class="g-collection-select w-full mb-2 no-tap-highlight">
      <mat-label>Sortieren nach</mat-label>
      <mat-select (selectionChange)="onSort($event)" [value]="sort$">
        <mat-option
          *ngFor="let sortCriterion of sortCriteria"
          [value]="sortCriterion.value"
        >
          {{ sortCriterion.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="cards$ | async as cards">
      <div class="grid grid-cols-3 gap-4 mb-2">
        <app-card-thumbnail
          *ngFor="let card of cards"
          [card]="card"
          [routerLink]="'' + card.id"
        ></app-card-thumbnail>
      </div>

      <mat-paginator
        *ngIf="initialPageInfo$ | async as pageInfo"
        [length]="cardsCount$ | async"
        [pageIndex]="pageInfo.pageIndex"
        [pageSize]="pageInfo.pageSize"
        [pageSizeOptions]="[5, 10, 20, 50]"
        [showFirstLastButtons]="true"
        class="p-1"
        (page)="onPage($event)"
      >
      </mat-paginator>
    </div>
  </ng-container>
</app-panel>
