<div class="flex justify-between items-center">
  <app-title>Chärtli</app-title>
  <mat-slide-toggle
    class="pr-2 pt-2"
    [ngModel]="showAll$ | async"
    (ngModelChange)="onShowAllChange($event)"
    >Alle
  </mat-slide-toggle>
</div>
<app-panel>
  <app-loader *ngIf="loading$ | async"></app-loader>
  <app-alert
    *ngIf="error$ | async"
    [message]="'Chärtli konnten nicht geladen werden.'"
  ></app-alert>
  <ng-container *ngIf="!((loading$ | async) || (error$ | async))">
    <div class="flex gap-1 mb-3">
      <mat-form-field class="g-collection w-full">
        <mat-label>
          <div class="flex items-center gap-1">
            <span class="material-symbols-outlined">person_search</span>
            Suche
          </div>
        </mat-label>
        <input
          matInput
          type="text"
          placeholder="Name oder Kürzel"
          [ngModel]="searchTerm$ | async"
          (ngModelChange)="onSearchTermChange($event)"
        />
      </mat-form-field>
      <mat-menu #sortMenu="matMenu">
        <button
          mat-menu-item
          *ngFor="let sortCriterion of sortCriteria"
          (click)="onSort(sortCriterion.value)"
        >
          <span
            [class.text-light-blue]="(sort$ | async) === sortCriterion.value"
            >{{ sortCriterion.viewValue }}</span
          >
        </button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="sortMenu">
        <span class="material-symbols-outlined text-light-gray">sort</span>
      </button>
      <button mat-icon-button (click)="onSortDirectionChange()">
        <span class="material-symbols-outlined text-light-gray">
          {{ (sortDirection$ | async) ? 'arrow_downward' : 'arrow_upward' }}
        </span>
      </button>
    </div>
    <div *ngIf="cards$ | async as cards">
      <div *ngIf="cards.length > 0; else noCards">
        <div class="grid grid-cols-3 gap-1 mb-1">
          <app-card-thumbnail
            *ngFor="let card of cards"
            [card]="card"
            [routerLink]="'' + card.id"
          ></app-card-thumbnail>
        </div>

        <mat-paginator
          *ngIf="pageInfo$ | async as pageInfo"
          [length]="cardsCount$ | async"
          [pageIndex]="pageInfo.pageIndex"
          [pageSize]="pageInfo.pageSize"
          [pageSizeOptions]="[6, 12, 24, 48]"
          [showFirstLastButtons]="true"
          class="!bg-transparent"
          (page)="onPage($event)"
        >
        </mat-paginator>
      </div>
    </div>
    <ng-template #noCards>
      <!-- Content to display when there are no cards -->
      <app-alert
        class="w-full text-center"
        [message]="'Keine Chärtli gefunden.'"
      ></app-alert>
    </ng-template>
  </ng-container>
</app-panel>
