<footer
  class="fixed bottom-0 w-full flex justify-around items-center h-14 px-4 py-2 bg-black-secondary"
>
  <button
    [routerLink]="['qr-generator']"
    routerLinkActive="text-blue-secondary"
    class="material-symbols-outlined"
  >
    qr_code
  </button>
  <button
    [routerLink]="['qr-scanner']"
    routerLinkActive="text-blue-secondary"
    class="material-symbols-outlined"
  >
    qr_code_scanner
  </button>
  <button
    [routerLink]="['home']"
    routerLinkActive="text-blue-secondary"
    class="material-symbols-outlined"
  >
    home
  </button>
  <button
    [routerLink]="['profile']"
    routerLinkActive="text-blue-secondary"
    class="material-symbols-outlined"
  >
    account_circle
  </button>
</footer>
