<footer
  class="fixed bottom-0 w-full flex justify-around items-center h-14 bg-black text-light-gray border-t-2 border-light-blue"
>
  <button
    [routerLink]="['qr-generator']"
    routerLinkActive="text-light-blue filled-symbol"
    class="material-symbols-outlined"
  >
    qr_code
  </button>
  <button
    [routerLink]="['qr-scanner']"
    routerLinkActive="text-light-blue filled-symbol"
    class="material-symbols-outlined"
  >
    barcode_reader
  </button>
  <button
    [routerLink]="['home']"
    routerLinkActive="text-light-blue filled-symbol"
    class="material-symbols-outlined"
  >
    home
  </button>
  <button
    [routerLink]="['profile']"
    routerLinkActive="text-light-blue filled-symbol"
    class="material-symbols-outlined"
  >
    account_circle
  </button>
</footer>
