<footer
  class="fixed bottom-0 w-full flex justify-around items-center h-14 bg-black text-light-gray border-t-2 border-light-blue"
>
  <button
    *ngFor="let navigationItem of navigationItems"
    [routerLink]="[navigationItem.routerLink]"
    routerLinkActive="text-light-blue filled-symbol"
    class="h-full px-4 flex flex-col justify-center items-center"
  >
    <mat-icon>{{ navigationItem.symbol }}</mat-icon>
    <span class="text-xs mt-0.5">{{ navigationItem.text }}</span>
  </button>
</footer>
